body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

/* Animaciones */
header {
    animation: fadeIn 1.5s ease-out;
}

#login-btn {
    cursor: pointer;
}
#login-btn img {
    filter: brightness(0.8);
    transition: transform 0.3s;
}
#login-btn:hover img {
    transform: rotate(15deg);
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
