body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

/* Estilo para el grid de los escritos */
#posts-container a {
    display: block;
    text-decoration: none;
}

/* Animaciones */
header {
    animation: fadeIn 1.5s ease-out;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
